<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Title</title>

<!--    <link rel="canonical" href="./">-->

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
      <div class="container-fluid">

      <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
          <a class="navbar-brand mr-0 mr-md-2" href="/">
              <img src="./img/logo.png" class="d-block" width="100" height="46" />
          </a>
      </div>


          <div class="navbar-nav-scroll">
              <ul class="navbar-nav bd-navbar-nav flex-row">
                  <li class="nav-item">
                      <a class="nav-link active" href="/#" title="">Мой MO-MOAPPS</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/#" title="">О СЕРВИСЕ</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/#" title="">ТАРИФЫ</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/#" title="">КАК ПОЛЬЗОВАТЬСЯ</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/#" title="">БЛОГ</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/#" title="">КОНТАКТЫ</a>
                  </li>
              </ul>
          </div>


          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

          </ul>

          <div class="d-none d-xl-block col-xl-2 bd-toc">
              <div>
                  <a href="./#" ><img src="./img/Avatar.png" /> info@user.com</a>
              </div>
          </div>
      </div>
  </header>

  <main role="main">

        <div class="container-fluid flex-column flex-md-row bd-navbar">
            <div class="row">
                <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
                    <div class="bd-toc-item">
                        <a class="bd-toc-link" href="/#">Мой MO-MOAPPS</a>
                    </div>
                </div>

                <div class="col-sm">
                    <div>
                        <div class="rows">
                            <div><img src="./img/Icon_Example_1.png" /></div>
                            <div>Mo-appsCo
                            <br />Опубликовано</div>
                        </div>
                        <div>Оплачено </div>
                    </div>
                </div>

                <div class="d-none d-xl-block col-xl-2 bd-toc">
                    Одна из трёх колонок
                </div>
            </div>
        </div>

  </main>

    <footer class="text-muted">
      <div class="container">

      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery-3.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="./js/jquery-slim.min.js"><\/script>')</script>
    <script src="./js/popper.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/holder.js"></script>
  

</body></html>