
@font-face {
    font-family: "Lato-Black";
    url("/font/Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lato-Blackitalic";
    url("/font/Lato-Blackitalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "Lato-Bold";
url("/font/Lato-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lato-Bolditalic";
url("/font/Lato-Bolditalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lato-Heavy";
url("/font/Lato-Heavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lato-Heavyitalic";
url("/font/Lato-Heavyitalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

body {margin: 0;
    padding: 0;
    font-family: 'Lato-Black',sans-serif;
    background-color: #ffffff;
    font-weight: 300;
    max-font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Lato-Heavy;
    font-weight: 300;

}
.centered {
    text-align: center;
}
a {
    font-family: "Lato-Bolditalic";
    font-size: 14px;
    color: black;
}
a:hover, a:focus, a.active {
    color: #44cdce;
}

div .menu {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    text-align: left;
}

.centered-block {
    padding-top:  86px;
}

div .container {
    background-color: white;
    display: inline-block;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.nav-bar-inverse > .active >a {
    background-color: #005cbf;
}
.figure-img {
    margin-left: 15px;
    padding-left: 20px;
    padding-top: 20px;
}

.font-weight-bold {
    font-weight: bold;
    font-size: 18px;
}

.img-fluid {
    margin-top: 10px;
    margin-left: 25px;
    padding-top: 20px;

}
.inblock {
    padding-left: 20px;
}
.btn-block {
    background-color: #28a745;
    color: white;
}




/*div .navbar-nav*/
/*{ float: left;  color: #000; font-family: Lato-Black; }*/
/*a .navbar-nav {float: left;  color: #000; font-family: Lato-Black;}*/


